<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List of Courses</title>
</head>
<body>
<h1>List of Courses  </h1>
<table>
	<thead>
		<tr>
		<th>
		ID
		</th>
		<th>
		Name
		</th>
		<th>
		Course Type
		</th>
		</tr>
		
		
	</thead>
	<tbody>
		<tr th:each="course: ${courses}">
		<td th:text=${course.id}>
		
		</td>
		<td th:text=${course.name}>
		
		</td>
		<td th:text=${course.courseType.name}>
		
		</td>
		</tr>
	</tbody>
</table>
</body>
</html>