<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/main_layout}" >
<head>
 <title>List of Courses Types</title>
</head>
<body>
<body>
<div  layout:fragment="content" class="container mySpace">
	<h1>List of Courses Types </h1>
<table>
	<thead>
		<tr>
		<th>
		ID
		</th>
		<th>
		Name
		</th>
		
		
		
	</thead>
	<tbody>
		<tr th:each="courseType : ${courseTypes}">
		<td th:text=${courseType.id}>
		
		</td>
		<td th:text=${courseType.name}>
		
		</td>
		</tr>
	</tbody>
</table>
</div>


</body>
</html>