<!DOCTYPE html>
<html  >
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}" />
<link rel="stylesheet" href="../../static/css/minty/bootstrap.min.css"  th:href="@{css/minty/bootstrap.min.css}" />
</head>

<body>
	<div th:replace="fragments_login/header::header"></div>
	<div layout:fragment="content">
	
	</div>
	<div th:replace="fragments_login/footer::footer"></div>
</body>



</body>
</html>